.t-container{
    width: 970px;
    height:auto;
    background-color:white;
    border-radius: 10px;
    margin: -67pc 10px 0 22pc;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.T-head{
    font-weight: 400;
    font-family: poppins;

}

.main-text-terms{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-family: poppins;

}
.footer-container {
    margin-bottom: 10pc;
}

