@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,700&display=swap");

#buttonrowbtn {
  background-color: #cf0a0a !important;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  gap: 10px;
  padding: 10px 10px 10px 10px;
}
#buttonrow {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0%;
  padding-top: 2pc;
  margin-left: 7.5pc;
  font-family: Poppins;
  color: #000;
  padding: 10px 10px 10px 10px;
}
