

 #button {
    background-color: #CF0A0A !important;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-right: 23px;
    margin: 0 20px 20px 140px;
  

  }
  #buttonbox button{
    flex: 1 1 ;
    margin: 0 25px;
  }
  
  #share-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:220px;
    margin-top: -60px;
    
  }
  
  .row {
    margin-bottom: 30px; /* Adjust spacing between rows */
  }
  
  
  
