.t-container {
  width: 56%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 1pc 2px 0 20pc;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.T-head {
  font-weight: 400;
  font-family: poppins;
}

.main-text-terms {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-family: poppins;
}
