.main {
  background-color: white;
  height: auto;
  width: 1000px;
  margin-left: 0pc;
  width: 800px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  margin: 0pc 0 0pc 25pc;
  line-height: normal;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: poppins;
  color: black;
}

.text-container h1 {
  font-weight: 200;
  text-transform: capitalize;
}
