.Main-container{
    width: 800px;
    height:250px;
    background-color: white;
    border-radius:10px;
    display: flex;
    text-align: center;
    margin: 0 35px 0 25pc;
    line-height: normal;
    
}
.heading{
    font-weight:lighter;
    padding: 5px;
    margin-bottom: 10px;
    font-family: poppins;
    text-align: center;
    text-decoration: none;
    color: black
}
.main-text-container{
    color:black;
    margin: 20px 30px 10px 10px;
}
