/* Add this CSS to your component's CSS file or a global stylesheet */
.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .button-container{
    text-align: center;
  }
  .button {
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.2); /* Add a solid border */
    border-radius: 1pc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Add a smooth transition for the hover effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    width: 146.28px;
    height: 88px;
  }
  
  .button:hover {
    border-color: #000; /* Change border color on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a larger box shadow on hover */
  }
  
  .button img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  